/ Header
%header#top.header
  .text-vertical-center
    %h1 The Watcher
    %h3 Get your shows together!
    %br
      - if user_signed_in?
        %p= render 'tv_search_form'
      - else
        %a.btn.btn-dark.btn-lg{href: root_path} Sign in
/ About
%div#about.about
  .container
    .row
      .col-lg-12.text-center
        %h2 Are you tired of checking for new episodes of your shows?
        %p.lead
          This app is simple way to keep track of that!
%div#services.services.bg-primary
  .container
    .row.text-center
      .col-lg-10.col-lg-offset-1
        %h2 Features
        %hr.small
          .row
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-search.fa-stack-1x.text-primary
                %h4
                  %strong Search
                %p Search for your tv shows. We have them all!
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-star.fa-stack-1x.text-primary
                %h4
                  %strong Your Shows
                %p Add all the shows you are watching
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-list.fa-stack-1x.text-primary
                %h4
                  %strong List of episodes
                %p Always up to date. With short descriptions so you can start where you last finished
            .col-md-3.col-sm-6
              .service-item
                %span.fa-stack.fa-4x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-compass.fa-stack-1x.text-primary
                %h4
                  %strong Episodes to watch
                %p Just enter the page to know what new episodes you have to watch. Of all your favourite shows!
/ Callout
%aside.callout
  .text-vertical-center
    %h1 Get your shows together!
/ Portfolio
%div#portfolio.portfolio
  = render 'example_shows'
/ Footer
%footer
  .container
    .row
      .col-lg-10.col-lg-offset-1.text-center
        %hr.small
          %p.text-muted Copyright &copy; The Watcher 2015
/ Custom Theme JavaScript
:javascript
  // Closes the sidebar menu
  $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });

  // Opens the sidebar menu
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });

  // Scrolls to the selected menu item on the page
  $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
