.container
  %h2 Search results:
  %table.table.table-stripped
    - @results.each do |result|
      .row
        %tr
          %td
            .col-md-3
              -if result['poster_path'].present?
                !=logo_image_path(result['poster_path'], 3, result['original_name'])
          %td
            .col-md-3
          %td
            / result['overview']
            = result['original_name']
          %td
            .col-md-6
              = link_to 'Add resource', subscriptions_path(resource_id: result['id']), method: :post, class: 'btn btn-default'
