.container
  %h2 Search results:
  %table.table.table-stripped
    - @results.each do |result|
      .row
        %tr
          %td
            %p= result['original_name']
          %td
            = link_to 'Add resource', subscriptions_path(resource_id: result['id']), method: :post, class: 'btn btn-default'
