/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require source-sans-pro
 */
 @import "font-awesome";

.search-form {

  text-align: center;

  .search-input {
    margin: auto;
    width: 50%;
  }

  .search-button {
    font-size: 20px;
  }
}

.seen-episode {
  color: #ADADAD;
}

.navbar_margin {
  margin-top: 8px;
}

.episodes {
  td, th {
    vertical-align: middle !important;
  }

  .btn-group {
    .btn {
      width: 140px;
    }

    i {
      padding-right: 3px;
    }
  }

  .show-overview {
    cursor: pointer;
  }
}
