%tr.active
  %th.text-nowrap
    Season
    = season.season_number
  %th
  %th
    = link_to 'Set season as seen', set_all_views_path(tv_id: tv.id, season_id: season.season_number), class: 'btn btn-default'
    = link_to 'Set season as unseen', unset_all_views_path(tv_id: tv.id, season_id: season.season_number), class: 'btn btn-default'
  %th
- season.episodes.each do |episode|
  = render partial: 'episode_row', locals: { tv: tv, episode: episode }
