.episodes
  = link_to 'Set all as seen', set_all_views_path(tv_id: tv.id), class: 'btn btn-default'
  = link_to 'Set all as unseen', unset_all_views_path(tv_id: tv.id), class: 'btn btn-default'
  %table.table
    - tv.seasons.each do |season|
      = render partial: 'season_episodes', locals: { tv: tv, season: season }
