.episodes
  %table.table
    - tvs.each do |tv|
      %tr
        %th
          = link_to tv_path(id: tv.id) do
            != logo_image_path(tv.poster_path, 1, tv.name)
        %th{ style: 'font-size: 25px;' }= link_to tv.name, tv_path(id: tv.id)
        %th
        %th
          / .btn-group
          /   = link_to set_all_views_path(tv_id: tv.id), remote: :true, class: 'toggle-all btn btn-default' do
          /     %i.fa.fa-eye
          /     Show seen
          /   = link_to unset_all_views_path(tv_id: tv.id), remote: :true, class: 'toggle-all btn btn-default' do
          /     %i.fa.fa-eye-slash
          /     Show unseen
      - tv.seasons.each do |season|
        = render partial: 'season_episodes', locals: { tv: tv, season: season }
- content_for :js do
  :javascript
    $(function(){
      $('.show-overview').click(function(){
        toggleOverview($(this).parent(), true);
      });

      $('.toggle-seen').on('ajax:success',function(event, data, status, xhr){
        if (status == 'success') {
          episode = $('.season-' + data.season_number + '.episode-' + data.episode_number);
          episode.addClass('seen-episode');
          episode.prevAll().addClass('seen-episode');
          episode.nextAll().removeClass('seen-episode');
        }
      });

      $('.toggle-all').on('ajax:success',function(event, data, status, xhr) {
        if (data.season_id) {
          episodes = $('.tv-' + data.tv_id + '.season-' + data.season_id);
        } else {
          episodes = $('.tv-' + data.tv_id);
        }
        toggleEpisodes(episodes, data.set_all);
      });

      function toggleOverview(episodes, turnOn) {
        showOverview = episodes.find('.show-overview');
        overview = episodes.find('.overview');
        if (turnOn) {
          showOverview.hide();
          overview.show();
        } else {
          showOverview.show();
          overview.hide();
        }
      }
    });
